*.lock
*.lck
*.so
*prueba*
*LINUX*
#*
*.c~
*.itf
*_glue*
*.o
*.pl~
*.po
*#*
tmpciao*
test1
test2
test3
test4
test5
test6
*.py~
*.old
testError
testNoLock
subs
sum
subsNoLock
sumNoLock
*.txt~
*.dylib
testRW1
testRW2
final
textEnd
test_semaphores
